[2017-02-02 21:15] framecad-johnb opened #6 "BOM shows wrong HBridge"
The BOM currently shows a Digikey 497-1395-5-ND but the eagle file shows a surface mount component instead - I'm guessing it should be the Digikey 497-3624-1-ND, please confirm

[2017-02-03 01:26] BarbourSmith commented on #6
Thanks for catching that. I forgot to merge a pull request that fixed that. It should be up to date now.

[2017-02-03 01:26] #6 closed, assigned to nobody

[2017-02-03 23:56] blurfl opened #7 "Check for continuity on 12V"
In the area above and to the right of U$18 it looks like the top side copper pour (12V, I think) might be broken by the thru-hole of INCD1 and the keep-out around the ground pad of U$18. Is this the main 12V path to the rest of the board?
It might just be a difference in the way my tools are rendering the pours, though...
<img width="521" alt="screen shot 2017-02-03 at 3 50 24 pm" src="https://clo

[2017-02-04 19:38] BarbourSmith commented on #7
That is definitely a real continuity issue. Thanks for catching that. Definitely the low point of my morning. I broke continuity there wiring up the 4th axis. I was in a huge rush to get those out because they are our longest lead time item. I am going to do a re-design next week and move all the components down so that top area is less cramped. For now I've added a wire to patch things in #8 just

[2017-02-04 19:49] BarbourSmith commented on #7
I'd like to give you credit for having spotted the problem in next week's update. Is that OK? If so, do you have a way you would be preferred to be identified? (real name, blurfl, anonymous community member...etc)

[2017-02-04 21:11] blurfl commented on #7
I’d as soon not be identified, if that’s OK. Participation is important, glad I could help.

While I’ve got your ear, I’ve fished an old Arduino Mega 2650 out and put the firmware on it, but it seems pretty unhappy talking to GroundControl. Is it reasonable for me to try anything without the power board? Should I open a topic on the forum, or hold off until boards get to the betas?

Keep up the gr

[2017-02-04 21:17] blurfl commented on #7
I’ve got stacks of boards with similar errors from previous projects.  A beta wouldn’t be proper without at least one “green wire”. :) The SMD Hbridges make good sense from a manufacturing angle, though. Worth the effort of the change.

[2017-02-04 23:59] BarbourSmith commented on #7
I'll order green wire to make the joke complete :-)

Thanks for the support. We do our best, but we really couldn't do it without you.

I wouldn't expect the lack of a power board to matter to the serial connection. What types of issues are you seeing? I tried to increase the baud rate last week and started running into issues and stepped it back so making sure you are using the current version mi

[2017-02-05 05:19] #7 closed, assigned to nobody

[2017-02-07 13:29] pronettixs opened #10 "Missing part on BOM?"
While reviewing the PCB in Eagle i noticed 2 component with i could not find on the BOM.
Above the H-Bridges there are 2 SMD components. Are these .1uF capasitors?

![Uploading missingParts.JPG…]()

[2017-02-07 13:40] pronettixs commented on #10
![missingparts](https://cloud.githubusercontent.com/assets/20775375/22693357/3da987c8-ed43-11e6-89d2-42c7c3a8dc33.JPG)

[2017-02-07 18:59] BarbourSmith commented on #10
Those are the .1uF filtering capacitors. I added the value to the description on the BOM to make it more clear. Thanks for pointing that out.

Do you think that's clear enough, or is there more we can do to make it clearer?

[2017-02-10 10:48] pronettixs commented on #10
Thanks, this is clear enough.

[2017-02-10 10:48] #10 closed, assigned to nobody

[2017-03-26 22:26] blurfl opened #12 "Power LED should show 12V power instead of 5V"
There presence of 5V power can be assumed if the USB connection is made; the presence of 12V power is necessary for the motors, and using this led for that would make it easy for a user to know he has the power supply correct. Relabel it '12V' or 'Motor Power'.

[2017-03-27 16:55] BarbourSmith commented on #12
Glad there is an issue for this, I agree 100%

[2017-03-27 17:40] blurfl commented on #12
It should be an easy edit, but if the boards have already been ordered…

[2017-03-27 18:51] BarbourSmith commented on #12
😬 It's hard to change things once the order goes out.

I've been putting off placing the next batch order to get as much feedback as possible rolled into them, but I think I need to ship them in the next few days. The basic design will be the same as in PR #9 with a 12v LED indicator added.

[2017-03-27 19:05] blurfl commented on #12
That should do it 👍

[2017-03-31 19:03] neilfrazerm opened #13 "Power supply connection"
Instructions  at setep for for those internationals without a power supply provided.
Please advise / insert the size of the connector and/or suggest supplying one in the kit if no power supply provided.
Thanks
Neil

[2017-04-01 17:44] BarbourSmith commented on #13
I checked in with Hannah and I realize this is totally my fault. I intended for those of you who live in countries with different power requirements to still receive the power supply, but just no power cord.

I chose a power supply which works from 100-250vac 50/60hz, and which uses a standard computer power cord so that they would be easy to find with the correct plug for your country.
![cord](ht

[2017-04-01 18:49] neilfrazerm commented on #13
Thanks awfully for sending out the supply, as you have already done so, and I am away for the next week, I shall wait for yours...

I had found the right connector from Maplins (UK Farnell equivalent) .

I do understand the pressure you are under and really do wish you rather well old chap.

Sincerest best regards,

Neil

(London)

________________________________
From: BarbourSmith <notifications

[2017-04-11 17:21] #12 closed, assigned to nobody

[2017-05-22 03:41] blurfl opened #14 "Motor Control Pins - are two GPIO pins necessary?"
It looks like the two motor control pins are always used in complementary states in Motor.cpp. Could each motor be controlled by one GPIO and an inverter to use fewer GPIO pins?

[2017-05-23 17:48] BarbourSmith commented on #14
No, we could really use just one pin and an inverter.

Using two pins keeps the part count down (we've already got the pins).

In theory we could do active braking of the motor by using both pins high (or maybe it's low), but I haven't played with that option yet.

[2017-05-23 18:33] blurfl commented on #14
Using one pin eases the task of adapting other cpu options (ESP32). The inverters could live on the adapter board instead of on the motor board.
With the present gearing setup, would adaptive braking accomplish much?

[2017-05-23 18:33] #14 closed, assigned to nobody

[2017-06-02 17:33] 1996Donzi opened #15 "PWMH Connector"
Per the eagle file the connector labeled PWMH has two pins (IN7 and IN8) if I am looking at the Arduino Mega  schematic properly they are tied to GND and AREF, is this correct?

[2017-06-02 19:27] BarbourSmith commented on #15
You are correct, that was a mistake. The latest PCB version (updated this morning) removes that connector.

[2017-06-06 00:52] #15 closed, assigned to nobody

[2017-06-30 14:22] JDogHerman opened #18 "Missing Heatsink from BOM"
In the pictures I see a heatsink shown but it is not an item on the electronics BOM. Can this be added?

[2017-06-30 19:55] BarbourSmith commented on #18
Great point! Yes it can

[2017-06-30 19:57] BarbourSmith commented on #18
I've added it to the BOM. Its good that it is in there to remind people to order one when buying parts. I can't give you a digikey number for the part because we had ours custom made, but it's not a critical part. Digikey sells a number in the right size range.

[2017-06-30 20:22] JDogHerman commented on #18
Will there be a method of purchasing these "one off custom" parts from the MaslowCNC org?

[2017-06-30 20:37] JDogHerman commented on #18
What sort of thermal resistance is required?

[2017-06-30 20:54] JDogHerman commented on #18
Would a part like Digikey: 345-1103-ND work? Its a "little" larger but it already has the adhesive base.

If so I can update the BOM with the partnumber

[2017-06-30 22:01] JDogHerman opened #20 "Heatsink substrate"
I might be wrong in this, but would it be good to add a thermal substrate copper pad for the H-Bridge ICs to sit upon?

[2017-07-01 00:34] BarbourSmith commented on #20
I think it's a great idea. We actually had one in an early version of the PCB, but I took it out because our PCBA people were having enough trouble and I wanted to make things really really really easy for them. It might be time to put that back in. The ground plane runs right under each chip to make doing exactly that easy.

[2017-07-01 00:38] BarbourSmith commented on #18
That one looks perfect. I measured the space and it will fit. I would recommend the taller 25AB model because the short one might not move enough heat.

If you want to throw it in the BOM that would be fantastic.

We're probably never going to sell the heatsinks individually because it's not really cost effective, but we will probably sell the whole arduino shield as a board with the heat sinks in

[2017-07-01 00:40] JDogHerman commented on #20
Sorry I opened this and then looked closer at the traces and saw that the traces run underneath the ICs.

[2017-07-01 00:48] JDogHerman commented on #18
Added the suggested heatsink to pull request #19. After merged this issue can be closed.

[2017-07-12 12:43] schlaubi666 commented on #18
the sugested one is also 6.4mm in heigth, but the one on the Picture is much taller ...
is this ok , to use the not so tall Version?
or better use ATS1319-ND ?

[2017-07-12 13:16] JDogHerman commented on #18
@schlaubi0666 It looks like the ATS1319-ND does not have numbers for thermal resistance while being naturally cooled.  Its also more than 3 times the price. (might be necessary) @BarbourSmith does this part @schlaubi0666 suggested look like a more fitting part?

[2017-07-12 13:49] schlaubi666 opened #21 "how to get a pcb"
i missed Kickstarter, and you do not know it you are selling kits again ;-(

1. do you will provide an partlist soon ?

the most difficult part to get is the pcb of the Driver ....

2. you have some spare modules to sell ?

3. it not, can you provide the gerber data to order my own pcb ?
4. what is the spec/Parameter of your ordered pcb's ?

br

Dirk

[2017-07-12 14:00] JDogHerman commented on #18
The nice thing is since the H-Bridge is over-temped protected and it is a closed loop system, if the H-Bridge does go into over-temp the encoder will detect that it has missed steps and the cut wont be lost.

In a future board design it might be nice to use L298N as it has much better thermal transfer numbers vs the L298P. 3C/W vs 13C/W*while using a aluminum substrate (not used in current boards)

[2017-07-12 17:39] BarbourSmith commented on #21
We're hoping to start selling individual parts really soon, so hopefully in a couple weeks you will be able to buy an arduino shield from us in the next few weeks.

Until then, we do have a parts list here: https://github.com/MaslowCNC/Electronics/blob/master/BOM.txt and the gerber files are available here: https://github.com/MaslowCNC/Electronics/tree/master/PowerDistribution if you want to make

[2017-07-12 17:41] BarbourSmith commented on #18
While they say it's over temp protected, we've blown up enough at this point to put that in the false marketing category ☹️

I think I tracked down a part that I was looking at as a replacement in the future, but I can't remember what it is off the top of my head. Moving away from the L298 family is in the future.

[2017-07-14 19:26] JDogHerman commented on #21
@schlaubi0666 I am in the same boat with you. I put in an order for a PCB and got more than I needed (min quantity). PM me if you would like me to get you one at cost+shipping.

EDIT: All extra boards have been spoken for.

[2017-07-14 19:31] JDogHerman opened #22 "Silkscreen is missing LED polarity"
It might be nice to see the LED polarity shown on the silkscreen for those of us that are sadistic enough to build our own boards.

Also why not show a website address? maslow.cnc 👍

[2017-07-14 19:43] JDogHerman opened #23 "New board design discussion."
Since this shield has lots of room on it what if there was thru-hole passive components holes added to the board in addition to smb. That way the board could be built as a kit easier for mortals.

[2017-07-14 19:50] JDogHerman opened #24 "Motor shield image is from older board design"
The shield image shown in the documentation shows a board with 4 motor hookups not 3 like in commit 5ab7ff7

This may want to be changed so others might not seem confused.

[2017-07-15 08:31] schlaubi666 commented on #21
the part list  a was taking about , is the whole list , not just the electronics ...

[2017-07-15 08:40] schlaubi666 commented on #21
@JDogHerman : i did not found an way th contact you (PM) , so yes i would like to have on. plz. write me an email to my username + @gmx.de

[2017-07-15 15:12] mrfugu opened #25 "Housekeeping: Repository description is missing."

[2017-07-17 00:25] BarbourSmith commented on #22
Those are both great suggestions

[2017-07-17 00:27] BarbourSmith commented on #23
It might seem like there is a lot of space, but a lot of the open copper is actually left intentionally open because we have a lot of current flowing across the board. I'm open to the idea if someone can design one that looks good, but I think we'd be better off doing a second board that's the through hole version if we want that

[2017-07-17 00:35] BarbourSmith commented on #24
Great suggestion, I've updated them in #26

[2017-07-17 00:35] #24 closed, assigned to nobody

[2017-07-17 00:47] BarbourSmith commented on #25
👍 👍 👍

[2017-07-17 15:13] JDogHerman opened #27 "Capacitor location & are C3 & C4 needed?"
I'm looking at the board and I was wondering if C3 & C4 were really necessary. Since C1 & C3 (5v filter) are in parallel and C2 & c4 (12v filter) are the same, would it not make sense to just use a larger capacitor and move those caps away from the warmer H-Bridge and towards the supply?

This would allow better heat dissipation to the H-Bridge along with reducing the part count.

[2017-07-17 15:40] JDogHerman commented on #23
If the XH connector housing was moved down it would allow for more room for the A+ B+ motor lines to be widened and permit though hole diodes to be added. (in addition to reducing the trace length)

The current limiting resistor and LEDs have plenty of board room and the filter caps could be moved closer to the supply rather than near the H-Bridges. #27

In addition if the MP3 H-Bridge was moved t

[2017-07-17 15:47] JDogHerman commented on #21
@schlaubi0666 I got an email bounceback from the gmx.de server. Is there another address I can contact you at?

[2017-07-17 16:26] BarbourSmith commented on #27
That's a great point. We could probably get away with just one set of filtering capacitors, especially since the only parts pulling from that 5v rail are the two H-bridges and an LED which won't add spikes

[2017-07-17 17:16] BarbourSmith commented on #23
Those are great points! If you make those changes, I'd be more than happy to merge them. My only reservation is that I think I'm going to redesign with a new H-bridge chip so we're probably going to see a lot of changes soon

[2017-07-17 18:07] JDogHerman commented on #23
@BarbourSmith what H-bridge chip are you thinking? Maybe I can help propose a layout with the new chip in mind.

[2017-07-17 18:44] BarbourSmith commented on #23
That would be great! I'm thinking about using the L6206 (https://www.digikey.com/product-detail/en/stmicroelectronics/L6206PD013TR/497-3643-1-ND/677626)

[2017-07-17 19:16] JDogHerman commented on #23
Interesting. The L6206 has integrated diodes, and higher current capacities, but if thermal considerations havn't been built into the PCB. The heat will skyrocket with 62 C/W! 🔥

[2017-07-17 19:34] schlaubi666 commented on #21
@JDogHerman: schlaubi666@gmx.de , so without the 0( my fault -> btw i changed my username, and removed the 0 as well)

[2017-07-17 19:44] BarbourSmith commented on #23
Good spot, that's something we need to consider. 62C/W is nuts, how does anyone keep that cool?

[2017-07-17 20:58] JDogHerman commented on #23
Looks like you can get it down to 15C/W by having it

then maybe adding heatsinks and active cooling could keep it cool. ❄️

Also did you see that digikey has limited numbers of this pn?

[2017-07-17 22:33] BarbourSmith commented on #23
I (clearly) didn't do too much research into finding a replacement part yet, and I'm rapidly becoming convinced that the L6206 is not the best choice. Are there any other candidates out there that look more promising?

[2017-07-17 23:34] JDogHerman commented on #23
What features are you hoping to achieve?
More current? Higher voltage? Better thermal characteristics? Faster switching?

[2017-07-17 23:52] BarbourSmith commented on #23
I'd say the #1 thing we need is durability. I'd like a chip that we can short without blowing it up, and which doesn't overheat easily. Other than that our needs are for a pretty basic 12v 2A+ H-Bridge

[2017-07-18 02:56] ndefoor commented on #21
@JDogHerman Could you message me  nathandefoor@hotmail.com I would like to see about getting one of those extra boards. Thanks

[2017-07-18 16:04] JDogHerman commented on #23
Have you seen this? [TLE5206-2GCT-ND](https://www.digikey.com/products/en?keywords=TLE5206-2GCT-ND)

Low Thermal Resistance, Internal inductive diodes, Short circuit protection with a error pin so software could alert the user that there was an issue. Cost isn't bad but it will require one for each motor.

Better pcb thermal design features and a heat sink would still be necessary but the chip sho

[2017-07-18 18:26] BarbourSmith commented on #23
Crikey, I love it! Excellent find! The price is pretty reasonable even with one needed per motor. The board will still be a couple $ more, but for full output short circuit protection it's absolutely worth it.

I'll see if I can throw together a board to test them this weekend, when I have PCBs made, I'd be more than happy to send you some to test too if you'd be interested.

[2017-07-18 19:54] blurfl commented on #23
I’d like to test or help with the design too, if I might.
When laying it out, here are some things to think about:

- Could we re-think which pins are used for board ID? The present approach interferes with the ICSP pins, making porting to other processors harder and making it harder to use SPI. Too, using a pull-up/down resistor adds parts count, but protects the gpio pins.
- As we don’t need the

[2017-07-18 20:46] JDogHerman commented on #23
@BarbourSmith that sounds great. If you want help with ideas on the design of the PCB let me know. I would be thrilled to test or help design. Just let me know how I can help. We could even add this as a project to github.

@blurfl I too would think a new method for identifying board revisions might be nice.  In fact if there was interest in changing the H-Bridge communication path to SPI there ar

[2017-07-18 22:51] blurfl commented on #23
Having SPI available would make it possible to add SD card support.

- gcode transfer serial buffering is an ongoing issue. With a local file system we could transfer separately from the cutting process and the read from there while cutting instead.
- This could make off-line operation possible as well.
- Finally, some other processor boards have higher speed, but don’t have the non-volatile stora

[2017-07-19 04:14] BarbourSmith commented on #23
Any and all help is more than welcome, if you want to have a go at putting together a board with the TLE206 or any other chip that you think is worth a go I would love to try it out!

I agree that adding an SPI interface could be nice. My general preference is to keep the whole machine as simple and low cost as possible to keep it reliable and affordable, but that doesn't mean we couldn't have the

[2017-07-19 04:21] JDogHerman commented on #23
Here is an SPI H-Bridge I was also looking at. https://www.digikey.com/product-detail/en/infineon-technologies/TLE6209RAUMA2/TLE6209RCT-ND/2231220

[2017-07-19 05:10] blurfl commented on #23
That’a an interesting chip - bigger and more expensive, but it makes the detailed failure info available.

Have you seen anything that could take the burden of interfacing with the motor encoders? That’s presently handled using interrupts on the Mega, and the code for that is inline assembly in order to keep up. I think it might be limiting how fast we can travel. Surely something else could watch

[2017-07-19 05:34] blurfl commented on #23
I see there is an SPI version, LS7366, that includes the counter as well, but only available from the manufacturer :(

[2017-07-20 12:50] mgood83 commented on #21
@JDogHerman could you also message me in regards to purchasing a board from you. I was just about to get one made, but if you already have spare, even better. Happy to pay send payment for cost + time +shipping. Thanks. mwgoodlett@gmail.com

[2017-07-20 19:34] clintloggins commented on #21
@JDogHerman please count me in if you have another pcb. More than happy to pay a premium!! Also, any of the changes that you discussed I am willing to test and give feedback. Thanks!
clintloggins@gmail.com

[2017-07-20 20:01] schlaubi666 commented on #21
thanks for selling the bord now in your shop , i will grab one there ....

[2017-07-21 19:11] JDogHerman opened #28 "Aux vias are not in a grid."
The 5v pin on Aux vias 1-5 are not inline with the ground pin. The silk screen is good but the pin is off. I can see this on the board I had printed and from the board in the store.

[2017-07-22 00:28] BarbourSmith commented on #28
Yes! (but this is intentional 😀 )

If you stick headers in them they will be held in place by the slight offset making it easier to solder

[2017-07-22 01:53] blurfl commented on #23
@JDogHerman, it doesn't look like the  TLE5206 will do speed control. Am I missing something? I'm disappointed, I like the TO220 thru-hole option.

Never mind, I found it - you need to be able to PWM both the motor control pins. Not a drop-in replacement as far as the firmware is concerned, but not impossible. That also means that the error flag won't need another pin. Do you have any experience w

[2017-07-26 19:06] ndefoor commented on #21
I am looking for the specifics on the motors.  Does it matter if the rpms are slightly different?

[2017-07-26 19:17] JDogHerman commented on #21
@ndefoor There is a discussion on alternative motors options on the forums.

[forum link](http://forums.maslowcnc.com/t/for-those-that-were-not-part-of-the-kickstarter-where-to-obtain-the-main-motor-worm-gear-encoder/120)

[2017-07-26 19:18] JDogHerman commented on #21
This issue can be closed.

[2017-07-26 20:01] #21 closed, assigned to nobody

[2017-08-15 14:53] mrfugu commented on #23
If you're considering a significant re-design of the Shield board, please consider adding the necessary provisions to allow installation of a cheap (iOS compatible) [Bluetooth Module](https://www.itead.cc/serial-port-ble-module-master-slave-hm-10.html) .

[2017-08-15 15:15] mrfugu opened #29 "Feature Request: iOS Compatible Bluetooth"
Hey,

As an adjunct to issue #23. I have located an iOS compatible BLE 4.0 board:

https://www.itead.cc/serial-port-ble-module-master-slave-hm-10.html

Multiple Ebay sellers have them for less than $2.50 per piece. It kinda seems like a no brainer to add to any major redesign of the shield. The price (retail) differences of adding BLE on the Audrino side is many  times (>10x) this cost.

Beyond th

[2017-08-15 15:48] blurfl commented on #29
Note that the first comment on the product page talks about having bought one of those from eBay and gotten a “knockoff with limited functionality with firmware“.
[This](https://www.adafruit.com/product/2479) unit, while more expensive, is readily available and well supported.

[2017-08-15 16:48] blurfl commented on #29
As the BLE module uses the same Tx and Rx lines as the normal USB serial connection, a provision to select between the two - pin jumper or switch - might be useful/necessary.

[2017-08-15 16:57] blurfl commented on #29
As a BLE connection is less reliable than a wired serial one, it might be a good idea to link this enhancement to an enhancement for adding stand-alone operation with the gcode stored on-board the Maslow.
Transferring a gcode file and monitoring the machine status seems reasonable to expect from a BLE connection.

[2017-08-15 17:21] mrfugu commented on #29
I've just committed to purchasing a 'test rig', maslow shield + audrino + BLE module i linked above.  I'll report results as soon as I have em and can get em talking.  with my goal of getting an iOS build of GC up and running via BLE.

Wish me luck!

[2017-08-15 17:23] BarbourSmith commented on #29
Good luck!

[2017-08-15 18:46] blurfl commented on #29
Best of luck!

[2017-08-20 18:01] mrfugu commented on #29
Update:

I've got my testing rig partially together and am continuing research. I have a MaslowShield, KeyeStudio Mega board, and for Bluetooth I selected a [MakerFocus DX-BT16 Bluetooth module](. They're seemingly plentiful, should work fine via BLE to iOS, whereas a number of others seemingly do not, despite advertising they do.

Cables and a breadboard are still a day or 2 away from arrival, an

[2017-08-20 18:31] blurfl commented on #29
I think in OS X you’ll be able to talk to the Bluetooth serial port  without any other drivers, once it’s been paired. The groundcontrol app should offer to connect to that serial port in its menu available ports.

[2017-08-20 19:16] mrfugu commented on #29
that's clearly the case with pre-BLE devices as they used the Serial Port Protocol standard (which btw, is unavailable to iOS), but I'm not sure it is the case with BLE (>4.0 devices). iOS needs explicit UUID definitions that may or may not be (i simply don't know) automatically identified by MacOS.

[2017-08-24 04:10] mrfugu commented on #29
Update: I have all the hardware finally and have started by writing an include for the firmware, "ble.h", to configure the BLE module (and add other BLE chipsets easily).

It then mirrors the USB 'Serial' port and hopefully will not be a problem for GC.

I figure that I'll add a toggle/selector for enabling the BLE module in GC once I get there, but for now I want to make the Arduino respond on ei

[2017-08-24 04:16] blurfl commented on #29
GCwants to see data received from the firmware every 200ms or so, or it decides it has lost the link.
On the Mega, will you be using the same rx/tx lines that the USB serial connection uses?

[2017-08-24 04:32] mrfugu commented on #29
yeah, timing and Baud rates were a question that I was going to wrestle with shortly.  Currently GC sets the Serial speed to 57600, iOS and Android want 115200.. I figured some timing issues might pop up if i force the firmware to the faster rate.

As for the pins I'm using, I can use 0 and 1, but i think its a better idea to use other pins, I have them currently on pins Maslow would use as I'm ju

[2017-08-24 05:28] blurfl commented on #29
I think the 200ms timeout is arbitrary, but it could be confusing if it was kicking in.

[2017-08-27 19:50] dmouw25 commented on #27
I would highly recommend leaving both Capacitors in place.  Actually the C1 & C3 should be moved closer to the IC to prevent power glitches from causing odd behavior.    Adding a bulk capacitor to the VDD_12V would probably be a good idea as well since the motors are drawing significant amounts of current.  Application diagram in datasheet for the motor driver had a 470uF electrolytic.

Package si

[2017-08-27 20:05] dmouw25 commented on #29
Before you get too far, I would recommend testing how reliable the bluetooth connection is when a router is running.  DC motors produce a lot of broadband RF noise and the bluetooth connection may or may not work.

[2017-08-29 00:13] blurfl commented on #27
I agree, leave the caps. They are recommended by the chip manufacturer.

[2017-08-29 00:15] blurfl commented on #28
Is the explanation sufficient? Can this be closed?

[2017-08-29 00:38] #28 closed, assigned to nobody

[2017-08-29 00:38] #27 closed, assigned to nobody

[2017-08-29 12:43] dmouw25 commented on #23
Is there any description / datasheet for the motors used?  I can't find it in the wiki.  Thinking about starting a redesign of the board with better heatsinking of the ICs, and better diodes, but want more details on the motors before I start the design phase.  Board would be optimized for automated assembly, not hand assembly.

[2017-08-29 12:55] blurfl commented on #23
A description from the [wiki](https://github.com/MaslowCNC/Mechanics/wiki/DIY-Kit-Mechanical-Equivalent-Parts):
Motor/Gearbox/Encoder	(291:1 reduction gearbox with worm gear to prevent back driving motor, 30kg/cm torque, 20 rpm, 12 volts)

Some discussion on the forum, [here.](http://forums.maslowcnc.com/t/for-those-that-were-not-part-of-the-kickstarter-where-to-obtain-the-main-motor-worm-gear-enc

[2017-08-29 13:20] mrfugu commented on #23
@dmouw25 In tinkering with the shield, attempting to get a bluetooth module integrated, I'll note that it would be very useful if all the unused pins, but most especially the digital pins, passed (unmolested) through the shield and were able to be accessed from 'above'.

[2017-09-01 18:08] dmouw25 commented on #20
Is it possible to Reopen this?   These packages are designed to dissipate most of the heat through slug on the bottom of the package.  If you notice, the datasheet does not give thermal values for junction to case.   You would likely get better thermal performance with a redesigned PCB and no heatsink.

[2017-09-01 21:22] JDogHerman commented on #20
Reopened as a feature request.

[2017-09-10 21:26] JDogHerman commented on #23
I created a branch design using the TLE5206-2G not sure how people feel about it but here it is.
https://github.com/jdogherman/electronics/tree/TLE5206-2G-Board

[2017-09-10 21:40] blurfl commented on #23
This looks good! I wonder if a few more vias non the M1-, M2- and M3- lines would be advisable. Not much current capacity in a via! Alternately, make those larger to allow a wire thru-soldered.
 Looks like it might be possible to alter this for the thru-hole, standing heat sink version :)

[2017-09-10 23:34] JDogHerman commented on #23
@blurfl good point! I have updated the design with 4 vias per leg.

[2017-09-11 01:09] blurfl commented on #23
I'm not seeing the 4-via version in your repository yet?
Are all the signals the same, only the H-bridges changed?

[2017-09-11 01:13] JDogHerman commented on #23
wow somehow I missed adding the new file. It's there now. The signals are all the same but the 12v lines have more vias.

[2017-09-11 05:29] blurfl commented on #23
I hate to say, but the commit show 0 changes in 0 changed files. GitHub is a fickle mistress...

[2017-09-11 13:28] JDogHerman commented on #23
Sorry been under the weather and I must not be thinking too clearly. I see the changes on https://github.com/JDogHerman/Electronics/commit/d9fb86bcf717d573a443468bce3ea259ec66f5bf Can you check that you can see the changes?

[2017-10-19 00:19] blurfl commented on #23
@JDogHerman,  I've been looking at the TLE5205 and TLE5206 again lately. Have you looked at the firmware changes to drive these?

[2017-10-29 20:45] blurfl opened #31 "J4 - Power Jack Part Number"
Is it possible that the part used for J4, the 12V power jack changed from the device shown in the BOM?
The BOM shows a CP-002A-ND, which has a 2mm center pin. The jack on the v1.1 board has a 2.5mm center pin. The DigiKey part number for that would be CP-002B-ND.

[2017-10-30 23:56] BarbourSmith commented on #31
Great catch @blurfl

I checked the invoice and the part we are using is [CP-202BH-ND](https://www.digikey.com/product-detail/en/cui-inc/PJ-202BH/CP-202BH-ND/408451 )

I will update the BOM right now

[2017-10-31 00:27] blurfl commented on #31
I see, that one has the higher (5A) current rating. From a company from Tualatin, OR., too 😄

[2017-10-31 03:04] BarbourSmith commented on #31
No way! That's a 15 minute drive away and I had no idea. Maybe we'll drop by to say hello

[2017-12-01 19:26] krkeegan opened #34 "Add Temp Probes or Jumpers for Temp Probes"
Given some issues with burning up the bridges, a temperature probe on each one, even an external probe stuck in the heatsink might be helpful.  The Firmware could pause or slow down if in an over temp state.

[2017-12-01 19:29] krkeegan opened #35 "Add a Fan or Jumpers for a Fan"
I know we are limited on amperage but a small fan would be great.  The fan could tie into the temp probes I proposed in #34 to speed up and down as needed.  Or in a simple scenario just turn on when the firmware is active.

[2017-12-06 02:59] blurfl commented on #34
AUX 5&6 are analog inputs as well as gpios, so no need for a board change 😉. A daughter board with the circuitry for the temp sensor and to switch power for the fan could use one AUX for the temp sensor and the other for the fan control. A 2x3 connector on AUX5&6 would take power, ground and the signals to/from the daughter board. Power for the fan could come from the 12V supply or a separate supp

[2017-12-06 03:08] blurfl commented on #35
"just turn on when the firmware is active." That could be as simple as a 'startup block' like grbl implements to execute at startup. gcode M106 sets fan speed, M105 reads 3D printer bed temperature - these could be used with the daughterboard I suggested in #34

[2017-12-14 22:01] insoleaf opened #36 "Electronics Schematic Labelling does not match software pin mapping"
The Electronics Schematic for the Maslow CNC Motor Shield has different Arduino Pin Mapping Labels from the latest revision of the software for V1.2 of the PCB which is the closest match.

The inconsistencies are as follow and should be looked at for completeness
The discrepancies are as follows

1. Software mapping PCB Revision 1.2

Software shows AUX ports are AUX1 = 17, AUX2 = 16, AUX 3=15, AUX

[2017-12-25 11:49] wbuchanan opened #37 "Project Language Incorrectly Classified"
Project classified as Stata repo on GitHub, but repository does not appear to include any code related to the Stata language.  Please correct the language classification for your project.  It will help make your project more visible where it should be and will avoid coming up in searches for Stata projects for others.

[2017-12-27 19:27] BarbourSmith commented on #37
I believe this should be fixed now thanks to #38 , good to close?

[2018-01-05 23:33] davidelang opened #39 "Add ability to drive stepper"
see https://github.com/MaslowCNC/Firmware/issues/355

since we are have four channels available, it would be good to add an extra header to the board that would let us use two channels together to drive a stepper (ideally using the same pinout that is common for 3d printers)

combined with a software way to drive this (even inefficiently), this would let people use off-the-shelf stepper driven Z a

[2018-01-10 18:38] blurfl commented on #39
This would involve a fairly major re-design of the board.

[2018-01-10 18:38] #37 closed, assigned to nobody

[2018-01-10 18:50] blurfl commented on #36
The schematic has been different from the silkscreen and software since the beta days. I'll open a PR to change the v1.2 schematic and replace the .jpg of the schematic. Do we want signal, ground and Vcc indicators next to the rows of pins as well (or should that be a separate PR)?

[2018-01-10 18:51] #31 closed, assigned to nobody

[2018-01-10 18:54] blurfl commented on #13
@BarbourSmith, this looks like it could be closed, but your reply and its pictures look like good wiki fodder 😀

[2018-01-10 19:00] blurfl commented on #18
@BarbourSmith, have you got a heatsink (and thermal tape) part number for the BOM?

Also your comment "Moving away from the L298 family is in the future." [Issue #23](https://github.com/MaslowCNC/Electronics/issues/23) is a discussion about this general topic - any further thoughts?

[2018-01-10 19:02] blurfl commented on #22
I'm going to be into the design files working on the schematic for [issue #36(https://github.com/MaslowCNC/Electronics/issues/36). I'll open a separate PR to add this and update the board .jpg as well.

[2018-01-10 19:05] blurfl commented on #20
I believe this was addressed in the v1.2 layout. @JDogHerman, @dmouw25 does that look correct to you? If so, we could close this.

[2018-01-10 19:06] blurfl commented on #25
Volunteer for the assignment? 😁

[2018-01-10 19:09] BarbourSmith commented on #39
Yes, it would probably be easier to make a new board. I am going to add the tag wontfix because the suggestion is a good one, but we are not actively working towards addressing it

[2018-01-10 19:10] BarbourSmith commented on #36
I think one PR would be OK. Doing version control on the PCB files is so dicey anyway that I vote less pull requests is better to avoid conflicts

[2018-01-10 19:11] #13 closed, assigned to nobody

[2018-01-10 19:13] BarbourSmith commented on #18
We ended up having them custom made 🙄 so I don't have a part number. It's weird how it's cheaper to have a heatsink made to spec than to buy one off the shelf

I hadn't given too much thought to moving away from the L298 family because we stopped blowing them up with such regularity...I still think moving is a good idea...I am a little worried about possible effects to the PID tuning

[2018-01-10 19:13] BarbourSmith commented on #20
I second that it was a great suggestion and has been added

[2018-01-10 19:15] BarbourSmith commented on #25
Done!

[2018-01-10 19:15] #25 closed, assigned to BarbourSmith

[2018-01-10 19:23] #20 closed, assigned to nobody

[2018-01-10 19:26] blurfl commented on #18
I think I've ordered replacements for these.I think I've got Digikey part numbersfor the [thermal tape](https://www.digikey.com/product-detail/en/3m-tc/15MM-15MM-10-8810/3M10310-ND/2649855) and the heat sinks, but I haven't found the heat sink one yet 🙃. I'll keep looking and reply to this issue.

[2018-01-10 19:41] davidelang commented on #39
On Wed, 10 Jan 2018, Scott Smith wrote:

I don't think it would.

a stepper driver is two H bridges, one for each set of coils. The pre-built
steppers add extra logic to simplify management of the two h-bridges so that you
can have one pin for direction and another for step and the chip takes care of
everything else.

But if we just were to wire the two H-bridge halves to one plug, the rest of the

[2018-01-10 19:47] blurfl commented on #39
I'd call it a major re-design as it involves adding another connector and traces for the connector and the presently unused half of the second H-bridge. Further, the present design has spread the chips out for thermal efficiency, leaving no room for a fourth connector.

[2018-01-10 19:54] blurfl commented on #39
If one wants to drive a stepper, look into driving a stepper driver board using two of the AUX pins. Logic power, ground, step and direction are enough for the Maslow side and are all available from the AUX pins.

[2018-01-10 20:39] BarbourSmith commented on #39
Great suggestion @blurfl I think driving a stepper off of the AUX ports makes so much more sense and would be a much cleaner build. Ok to close this as a hardware issue and make it a software issue if we decide to go that route?

[2018-01-10 22:02] blurfl commented on #18
I was wrong, the heat sinks were for a different chip family, not applicable. Are there enough on hand to offer them in the Maslow store?

[2018-01-11 00:46] insoleaf commented on #36
Thanks for your Reply Scott,
The Schematic in its current form is perfect the pin mapping just need to
match the current version of the software and hardware revision as noted.
The reason I requested the change is that I am documenting the Maslow
Building Blocks so that others trying to understand the code can make a
connection with the hardware. It would also be helpful to indicate which
revision

[2018-01-11 05:22] blurfl commented on #36
Here is a modified schematic with the nets renamed to match the silkscreen and the firmware. Note that I've moved J2, J3, J4 and J5 around to keep the AUX pin names in order as well:
![powerdistributionschematic-pr](https://user-images.githubusercontent.com/1851315/34809537-63fb47de-f64a-11e7-8609-b73f5a6513c9.png)

and the companion board layout with labels for the AUX GND and Vcc:
<img width="10

[2018-01-11 05:26] blurfl commented on #22
Rather than draw an LED symbol, I've put a plus sign opposite the positive end of each of the two LEDs:
<img width="1048" alt="powerdistributionboardlayout-pr2" src="https://user-images.githubusercontent.com/1851315/34809859-bb390dea-f64c-11e7-9b2c-ee2b2248481d.png">

If that's satisfactory, I'll put in a PR with the change.

[2018-01-11 05:41] insoleaf commented on #36
Scott,
I have checked the schematic and there is still an issue with the mappings
for The Encoder Channels A & B.

If you look at System.cpp and check the mappings for version 1.2 of the
hardware board the mappings should be as follows

else if(pcbVersion == 2){
//PCB v1.2 Detected
//MP1 - Right Motor
ENCODER1A = 20; // INPUT
ENCODER1B = 21; // INPUT
IN1 = 4; // OUTPUT
IN2 = 6; // OUTPUT
ENA = 5;

[2018-01-11 07:41] blurfl commented on #36
You're certainly right, the encoder signal names for motors 1 & 2 were wrong. I've re-done the IN__ names for Motors 1&2.
Thanks for catching this too. Here's the result:
![powerdistributionschematic-pr4](https://user-images.githubusercontent.com/1851315/34813676-bc6ad58c-f65f-11e7-9486-4173b076fd83.png)

[2018-01-11 09:45] insoleaf commented on #36
Scott,
Almost there. The pin mapping for Encoder 3A and 3B need to be swapped as
3A is pin 2 and 3B is pin 3.

I was also looking at the data sheet for the H-Bridge and note that the Ena
is on Pin 6 and Enb on Pin 11 as per the diagram below.

The schematic has Ena on pin 5 of the Arduino which is connected into the
H-Bridge Driver on Enable_A however it is labelled with Pin 8 so this does
not loo

[2018-01-11 18:09] BarbourSmith commented on #22
I think that looks great!

[2018-01-11 18:16] BarbourSmith commented on #22
There is a small dot on the LED part, does that not indicate polarity?

![image](https://user-images.githubusercontent.com/9359447/34840006-75105c1c-f6b8-11e7-9097-15d5e36ecbfa.png)

![image](https://user-images.githubusercontent.com/9359447/34840016-84d29250-f6b8-11e7-85b9-24d01673598e.png)

[2018-01-11 18:22] BarbourSmith commented on #22
My read of the schematic is that the polarity should be like this:

![image](https://user-images.githubusercontent.com/9359447/34840233-31d9f682-f6b9-11e7-9b73-9fdd33d79e75.png)

![image](https://user-images.githubusercontent.com/9359447/34840255-434b0fd2-f6b9-11e7-8f09-8183aeacd4a3.png)

[2018-01-11 19:12] blurfl commented on #22
Thanks Bar, you're right. Hard to turn my thinking around to 12V power plane and routed ground. The dot _does_ indicate polarity, but I think it wouldn't appear on the silkscreen of a PCB in a maker's hand because it's in a keep-out area. The plus would address that. You've got a good point, though - SMD LED's use a dot to mark the cathode end. How best to address the issue, dot-at-cathode or plus

[2018-01-11 19:37] BarbourSmith commented on #22
I think the plus is a great idea! I was just pointing out the dot because I was curious what it meant. You are absolutely right that it does not show up anywhere on the PCB. I actually had an email from the manufacturer this morning to confirm the diode directions so even they are confused 😛

The plus will be much better.

[2018-01-11 19:41] blurfl commented on #22
Just to stir the pot, how about:
![screen shot 2018-01-11 at 11 30 55 am](https://user-images.githubusercontent.com/1851315/34843750-3fa13cb6-f6c4-11e7-96ad-3600b36e0d26.jpg)

and
![screen shot 2018-01-11 at 11 31 07 am](https://user-images.githubusercontent.com/1851315/34843759-44cd3906-f6c4-11e7-8b9e-074ebe5f5d2e.jpg)

[2018-01-11 19:44] BarbourSmith commented on #22
SLICK! I love it

[2018-01-11 19:55] blurfl commented on #36
I've swapped INC3A/INC3B on the schematic.
 The diagram you mention didn't make it into the comment, but it sounds like you're quoting pin numbers for the 'Multiwatt15' package L298N or L298HN; we're using the 'PowerSO20' package, L298P.
![screen shot 2018-01-11 at 11 53 12 am](https://user-images.githubusercontent.com/1851315/34844361-0f0bfc1a-f6c6-11e7-8c84-c3e1731f05ec.jpg)

Is that the issue?

[2018-01-11 19:58] blurfl commented on #36
Here's the schematic that addresses INC3A/INC3B:
![powerdistributionschematic-pr4](https://user-images.githubusercontent.com/1851315/34844531-aa5fa220-f6c6-11e7-8b35-384bb33ddda7.png)

[2018-01-12 00:25] blurfl commented on #18
[This](https://www.mouser.com/productdetail/aavid-thermalloy/374124b00035g?qs=sGAEpiMZZMttgyDkZ5WiulSjpO3gDOKQ4Eu1ZE9AH98%3D) heatsink from Mouser is 23mm x 23mm and 18mm high, so slightly shorter but in the ballpark. In stock, $2.35 each, includes the thermal tape.

![374124b00035g](https://user-images.githubusercontent.com/1851315/34854020-eac8d906-f6eb-11e7-884f-38a3a6e3375c.jpg)

[2018-01-12 00:39] BarbourSmith commented on #18
That looks like a perfect solution!

[2018-01-12 01:02] insoleaf commented on #36
Apologies Scott you are 100% correct. The pinouts in the Schematic were for
the Multiwatt 15 and not the PowerSO20.

Thanks for making those amendments.

Kind Regards Stuart

On Fri, Jan 12, 2018 at 5:55 AM, Scott Smith <notifications@github.com>
wrote:

--

stuartnicole.richards@gmail.com

[2018-01-12 01:04] blurfl commented on #36
That's Ok, thanks for going into the files in such depth. Is the Schematic ready for a PR, then?

[2018-01-12 01:05] blurfl commented on #18
Shall I add it to the BOM in the same PR that updates the schematic and silkscreen, or would you like them separated?

[2018-01-12 01:38] BarbourSmith commented on #18
Having a lot of pull requests that change the board files themselves can be tricky, but doing this as a separate PR should be safe I think

[2018-01-12 01:41] blurfl commented on #18
Oops, I'll pull the PR back and separate them - sorry, jumped the gun!

[2018-01-12 02:18] blurfl commented on #18
While I'm at it, should I be saving these files in a particular version of EAGLE? EAGLE v8.5 is current, but it offers an option to save for EAGLE v7.x ?
Also, I'd like to remove the backup files and lock file that EAGLE leaves around - only the .sch and .brd files in the repo.

[2018-01-12 03:43] insoleaf commented on #36
Yes Scott the Schematic is ready for PR.

Kind Regards Stuart

On Fri, Jan 12, 2018 at 11:04 AM, Scott Smith <notifications@github.com>
wrote:

--

stuartnicole.richards@gmail.com

[2018-01-12 05:34] blurfl commented on #18
@BarbourSmith, here's the situation - The pin label changes affect the schematic visibly and the board invisibly, so both must be changed together. The silkscreen change affects the board but not the schematic, but both files should still be submitted together.
 I did the schematic change first as it made a bigger change. Shall I remove the diode symbols from the board file that goes with the sche

[2018-01-12 18:33] BarbourSmith commented on #18
Right, I see the issue

Is it possible to submit just both changes at once? I think that would be totally OK

[2018-01-13 01:44] blurfl commented on #36
This was addressed in PR#42 - is it Ok to close this?

[2018-01-13 01:44] blurfl commented on #22
This was addressed in PR#42 - is it Ok to close this?

[2018-01-13 01:44] blurfl commented on #18
This was addressed in PR#41 - is it Ok to close this?

[2018-01-13 01:52] BarbourSmith commented on #36
Yes, I believe so. Well taken care of 👍 👍 💯

[2018-01-13 01:53] BarbourSmith commented on #22
Also beautifully taken care of. I vote to close.

[2018-01-13 01:53] BarbourSmith commented on #18
I vote to close this one as well. You are really knocking these off!

[2018-01-13 01:55] #18 closed, assigned to blurfl

[2018-01-13 01:56] #36 closed, assigned to blurfl

[2018-01-13 02:06] dmouw25 opened #45 "LED Current too high"
The current through the 12VPOWER LED is too high and power dissipation of R2 is very high.   LED is rated for 25mA maximum and LED is currently being driven at 29mA ((12V-2.2V)/330 ohm).   Resistor R2 is currently dissipating 290mW typical.  Increasing resistor R2 to 1000 ohm would allow a normal 0805 resistor to be used instead of thick metal film resistor selected for a small cost savings and wi

[2018-01-13 02:21] blurfl commented on #45
A good catch! Great that you're checking deeply into the circuitry. Do you want to do a PR on this, or shall I?

[2018-01-13 02:40] dmouw25 opened #46 "Catch Diodes are not fast recovery diodes"
The 4004 diode is a general purpose diode and is not designed as a fast recovery diode.  Datasheet for motor driver recommends "The external bridge of diodes D1 to D4 is made by four fast recovery elements (trr ≤ 200 nsec)".   A quick search of digikey found the ES1JFSCT-ND which has a reverse recovery of 35nS vs the 4004 which is not specified.  I suspect we should really go with a schottky diode

[2018-01-13 02:48] dmouw25 commented on #45
Not sure how to do a PR, so could you do it?

[2018-01-13 02:55] blurfl commented on #45
I'll be glad to. To summarize, I'll change the value of R2 to 1K on the schematic and the BOM, and look up a 1K SMD thin-film resistor for the BOM, yes?

[2018-01-13 03:05] dmouw25 commented on #45
Correct.   I would personally go with 541-4162-1-ND at digikey But that is mostly because that is a company we use at work.

[2018-01-13 03:06] blurfl commented on #45
I'm a great fan of DigiKey too. Thanks for the part number 💯

[2018-01-13 03:23] dmouw25 opened #47 "Not enough Capacitance on 12V rail"
I should start this issue with a comment that I do not have a Maslow, so this is all theoretical.

The 12V supply is a standard brick and i am assuming it is a 36" cable between power supply and Maslow PCB.   Signal travel along PCB or wires at ~ 6" per ns.  This means when additional current is required from power supply, it takes 12nS for power supply to respond (6 nanoseconds to get to power su

[2018-01-13 03:36] blurfl commented on #47
If I understand correctly, one should be able to see a ringing on the 12V plane in sync (at the same frequency as) with the PWM signal driving one of the motors at a moderately high load. One could look for that same frequency on the 5V line and encoder lines to check for crosstalk.
 To date we haven't had a lot of issues that seemed cross-talk related, but conservative engineering is not a bad id

[2018-01-13 14:34] dmouw25 commented on #47
That seems correct.  The ringing will repeat at the same rate as PWM, but the frequency of the ringing will be dependant on actual length of 12V harness.   It may also be prudent to add pads for a large electrolytic near 12V input, but skip by default.  a 6mm x 6mm such as Digikey part # 493-2190-1-ND would be perfect.

[2018-01-13 16:47] BarbourSmith commented on #46
Excellent point! Let's change this.

[2018-01-13 16:56] blurfl commented on #46
Let's wait to hear what the 'graybeards' have to say. When we hear back, we'll "make it so" 😁

[2018-01-13 16:59] BarbourSmith commented on #45
Excellent suggestion! Let's change the part in the BOM and change the value for that resistor in the schematic. 👍 👍 💯

[2018-01-13 17:03] BarbourSmith commented on #47
I think adding 1uF capacitors to both the 12v and 5v lines is a good idea. @blurfl is right that we haven't seen much in the way of issues here, but capacitors are cheap and adding them is easy. 👍 👍

[2018-01-14 01:04] #22 closed, assigned to blurfl

[2018-01-14 02:07] blurfl commented on #47
I'm going to hold the PR for this back until PR #48 is merged; this uses the schematic and board files from that branch. Don;t know how else to do this, trying to avoid a conflict.

[2018-01-14 07:45] insoleaf commented on #36
Thanks very much for that Scott.

Kind Regards Stuart

On Sat, Jan 13, 2018 at 11:56 AM, Scott Smith <notifications@github.com>
wrote:

--

stuartnicole.richards@gmail.com

[2018-01-15 18:44] BarbourSmith commented on #47
Smart!

[2018-01-17 20:26] dmouw25 commented on #46
So I talked with the guys at work and going to the schottky is a good idea but with one caveat that requires testing.  That said I am not convinced it is worth the cost unless it actually helps performance.

Caveat:
Schottky diodes are known for their high temp current leakage.  For the diode specified, it has  typical leakage at 125C and 10V of 250uA.  (room temp 100nA)  The datasheet specifies a

[2018-01-18 04:17] blurfl commented on #46
The failures we've had were the H-bridge portions of the driver chips in the stall situation. It doesn't sound like the Schottky diodes would address this.
 I wonder whether the faster recovery diodes would make any noticeable difference in performance - our switching rate is 490 Hz at present.
 I've built a board using a different driver (TLE5206) which looks promising, but it uses a subtly diffe

[2018-01-18 16:51] blurfl commented on #45
Ok to close this?

[2018-01-18 16:51] blurfl commented on #47
Ok to close this?

[2018-01-18 18:25] BarbourSmith commented on #47
I vote to close

[2018-01-18 18:25] BarbourSmith commented on #45
I vote to close. Well added!

[2018-01-18 18:25] #45 closed, assigned to blurfl

[2018-01-18 18:37] #47 closed, assigned to nobody

[2018-01-29 21:38] blurfl commented on #23
I have a working board using the TLE5206. It requires changes to System.cpp and Motor.cpp for new pins and a different method of controlling the chip,

[2018-04-03 19:58] matmaxgeds opened #50 "Add a fuse"
It would be great to explore a fuse to prevent the motor drivers burning out when e.g. the chain wraps and the sprockets get stuck as suggested here: https://forums.maslowcnc.com/t/a-jam-burnt-the-motor-driver-board/3106/24

[2018-04-03 20:18] blurfl commented on #50
It would be simple enough for a tester to put an in-line fuse holder in one of the M+/M- wires for each motor.

[2018-04-03 20:25] matmaxgeds commented on #50
If we made up some with the connectors, that would also be a good retrofit option for those who already have boards - bonus points if it is resettable

[2018-04-03 22:03] blurfl commented on #50
It will probably require s PCB for the male connector - it's only available as a [board-mounted device](https://www.digikey.com/product-detail/en/jst-sales-america-inc/B6B-XH-A(LF)(SN)/455-2271-ND/1000381)

![image](https://user-images.githubusercontent.com/1851315/38278116-99e2cd7c-374f-11e8-87bc-a311b287e8da.png)

The [mating connector](https://www.digikey.com/product-detail/en/jst-sales-america

[2018-06-01 17:16] blurfl commented on #23
With the release of the TLE5206 board in the Community Garden, most of the ideas have been implemented with the exception of the connection for a Bluetooth module.
 Would it make sense to close this?

[2018-06-01 17:22] #23 closed, assigned to nobody

[2018-07-20 18:23] baverhey commented on #50
I was planning to add a fuse what would be the amperage needed and response time/curve?

[2018-07-20 19:11] BarbourSmith commented on #50
I can't give you an exact correct answer, but my instinct says something that would blow after about 250ms at 3 amps is probably a good starting point. Feedback on if that is a good number would be awesome.

[2018-09-10 16:19] ProtoMakerOpenTech commented on #39
Currently working on a maslow variant for the open source market. Going to work on keeping it as backward compatible as possible and will be building a new board for stepper control, support for a lathe axis and VFD. Anyone interested in contributing let me know. Most of my machine design experience is in the 3D printing space and came across the maslow as a possible tool for prototyping.

[2018-09-10 18:25] blurfl commented on #39
[code]
You might want to make a post over in the [Maslow CNC Forum Hardware section](
https://forums.maslowcnc.com/c/hardware-issue), you will reach more eyes there. This particular issue is a candidate for being closed.

[2018-09-10 19:25] blurfl commented on #39
[code]
Closing; a topic about the stepper variant has been opened in the Forum.

[2018-09-10 19:25] #39 closed, assigned to nobody

[2018-10-13 19:38] elfa45 opened #52 "Heat sinks do not stick to motor controller chips"
Am putting the electronics together.  I am unable to make the heat sinks stick to the motor controller shield chips.
I removed the backing and applied to the chips.  They stick for awhile but any movement of the board might cause them to fall off.  The tape still feels sticky but does not hold.

Is there another option for applying the heat shields?

[2018-10-13 20:12] jbarchuk commented on #52
Wipe the chips with alcohol. They may not have been cleaned properly.
Trying several times and falling off, the tape on yours is deteriorated
some. If it doesn't stick, thermal epoxy is best.

On Sat, Oct 13, 2018, 3:38 PM elfa45 <notifications@github.com> wrote:

[2019-01-02 14:45] Darkir1 opened #53 "I need a z axis cable"
I don't have a z axis cable and I need to get one. what is the contact email?

[2019-01-03 01:04] BarbourSmith commented on #53
Unfortunately October 2018 was the last time that I had spare parts. I recommend contacting [MakerMadeCNC](https://forums.maslowcnc.com/u/makermadecnc/summary) through the forums to see if they can set you up with one. I'm sorry I can't send you one myself!

[2019-01-05 09:05] Darkir1 commented on #53
I am currently putting together the cable I  need from online stock suppliers. I can start assembling packages for cables only if anyone wants to buy one.

[2019-01-05 11:03] BarbourSmith commented on #53
I think that would be fantastic. Hopefully nobody else is missing one, but it could be useful for those who are assembling their own kits from parts. Listing the cable in [The Market](http://maslowcommunitygarden.org/?market=true) could be a good way to let people know it is available.

[2019-03-19 04:43] medic2410p opened #54 "Need a new Arduino shield"
I am needing a new shield. Anyone know where I can buy just the shield?

[2020-11-14 22:02] ezgo123 opened #55 "I got a micro usb cord....its supposed to be a printer style cord end?"
I ordered the maslow kit and im trying to connect everything only to find out i recieved a usb to micro usb cord...that doesnt connect to the board. I need a usb to printer style connector.

[2020-11-14 23:33] BarbourSmith commented on #55
That's wild. Who did you order the kit from?

[2020-11-14 23:47] ezgo123 commented on #55
I ordered it through Amazon

On Sat, Nov 14, 2020, 6:33 PM BarbourSmith <notifications@github.com> wrote:

[2020-11-15 08:59] GeroBH commented on #55
The Arduino DUE uses micro usb. Check your order if it was for an Arduino MEGA, then the cable is wrong. If your order was for the Arduino DUE you got the right cable but the wrong microcontroler.

[2020-11-15 17:58] BarbourSmith commented on #55
Ahhh @GeroBH  is correct. That sounds like the right USB cable. It could also be that you are following the wrong instructions. MakerMade CNC sells the kit you got so it might be worth checking to see if they have different assembly instructions

[2020-11-15 18:31] GeroBH commented on #55
MakerMade still sells a kit with the Mega and a newer kit with the Due, so the question is what kit did you order.
![image](https://user-images.githubusercontent.com/25812652/99193413-c429ab00-2789-11eb-8c38-fb807378b57f.png)

[2021-04-17 07:34] darigovresearch opened #56 "[BUG] Dead link to store for PCB board"
Page in question - https://github.com/MaslowCNC/Electronics/blob/master/BOM.md

[2021-04-17 07:56] darigovresearch opened #57 "[FEATURE REQUEST] Add Kitspace one click pricing"
[Kitspace](https://kitspace.org/) is a project that really helps with building open source hardware as it allows you to (when properly implemented) have an almost one click pricing for the PCB and electronics components. If setup by the maintainers it would really decrease uncertainty if the components chosen are the ones that work reliably.

We haven't had to implement it yet but it seems relativ

[2021-04-17 07:56] darigovresearch opened #58 "[FEATURE REQUEST] Add Kitspace one click pricing"
[Kitspace](https://kitspace.org/) is a project that really helps with building open source hardware as it allows you to (when properly implemented) have an almost one click pricing for the PCB and electronics components. If setup by the maintainers it would really decrease uncertainty if the components chosen are the ones that work reliably.

We haven't had to implement it yet but it seems relativ

[2021-04-17 09:34] darigovresearch commented on #58
This is an accidental duplication of #57 from clicking submit twice most likely

[2021-04-17 09:34] #58 closed, assigned to nobody

[2021-04-17 09:53] darigovresearch opened #59 "[FEATURE REQUEST] Export Gerber files"
Kitspace requires a folder of Gerbers so that they can be easily ordered from the various PCB suppliers they are linked to in order to get a price. It would also help for people who just want to order boards but don't have access to EAGLE

Could you export the Gerbers into a folder called `Gerbers` in the `PowerDistribution` folder?

We would do it but we don't have access to EAGLE

This would hel

[2021-04-17 10:40] darigovresearch commented on #52
@elfa45 did this help resolve your issue?

[2021-04-17 10:43] darigovresearch commented on #53
@Darkir1 Have you managed to solve this issue for yourself or put up a listing on the market?

[2021-04-17 10:46] darigovresearch commented on #54
@medic2410p you can try [the market](http://maslowcommunitygarden.org/?market=true) we're also trying to make it easier to order the PCB and parts with Kitspace (see issue #57) if you're electrically inclined.

Did you manage to resolve this issue since it was posted?

[2021-04-17 20:35] darigovresearch commented on #59
@kasbah can you confirm that Gerbers are required for Kitspace and the one click BOM to work?

[2021-04-17 23:17] kasbah commented on #59
At the moment, yes. We have been meaning to implement auto-plotting of Gerbers for Eagle for ages now. It's implemented for KiCad but not for Eagle.

[2021-04-19 03:47] BarbourSmith commented on #56
Thanks for pointing that out, I took the link out

[2021-04-19 03:47] #56 closed, assigned to nobody

[2021-04-19 03:49] BarbourSmith commented on #57
I fully support this. Does the kit designer get a cut of the profits from the orders? If so I am absolutely OK with you putting it up there and keeping any money made from it.

[2021-04-19 03:51] BarbourSmith commented on #59
Unfortunately I also don't have access to Eagle anymore. Once Autodesk bought it it won't run on my computer anymore 😞

[2021-04-24 08:50] darigovresearch commented on #59
@BarbourSmith no worries, maybe someone from the community has access to it and could oblige. @kasbah or @midopple do you have access to Eagle to just make a pull request with exported gerbers in a suitable folder in [Power Distribution folder](https://github.com/MaslowCNC/Electronics/tree/master/PowerDistribution)?

May be worth trying to port the Eagle file into [KiCad](https://www.kicad.org/) t

[2021-04-24 08:51] darigovresearch opened #60 "[FEATURE REQUEST] KiCad version of PCB"
We may get more contributions/improvements to the system if it is in an open source PCB format like KiCad as it would reduce the barrier to entry for new users. Was wondering if the maintainers or someone from the community would be interested in trying this out.

https://www.kicad.org/

[2021-04-24 08:52] darigovresearch commented on #60
@midopple any chance you could do what you done to resolve https://github.com/drspangle/infidel-sensor/issues/24 here?

[2021-04-24 12:09] darigovresearch commented on #57
@BarbourSmith I believe the cost only covers the price of the PCB and components but am sure a support button or profit sharing feature may be implementable. @kasbah could you please advise?

I am working on a pull request to add the project to kitspace but it requires gerbers to be exported so #59 needs to be resolved before it can be completed

[2021-04-24 17:04] kasbah commented on #57
Kitspace doesn't currently take any money except for the few kits I put together personally that are on shop.kitspace.org. The other orders all go directly to 3rd parties. The PCB companies listed are sponsors through [our Opencollective](https://opencollective.com/kitspace).

[2021-04-26 18:00] midopple commented on #59
Hi,

I have exported the Gerberfiles, see the Pull #61

[2021-04-26 18:13] midopple commented on #60
Hi,
i have added the Kicad Files #61
Please check it, at my first check i see no errors

![grafik](https://user-images.githubusercontent.com/1327091/116130682-ce05f180-a6cb-11eb-982f-586c83b63d8a.png)

[2021-05-01 12:55] darigovresearch commented on #57
Have added a pull request #62 that would resolve the issue. @BarbourSmith I believe this must be merged before @kasbah can add the project to the kitspace website

[2021-05-01 12:57] darigovresearch commented on #59
@midopple thanks for resolving this issue!

[2021-05-01 12:57] #59 closed, assigned to nobody

[2021-05-01 12:59] darigovresearch commented on #60
Hi, @midopple thanks for being kind enough to tackle this issue. We're still learning KiCad but will raise any issues if we see any pop up so will close this as you managed to generate the files which is a great start!

[2021-05-01 12:59] #60 closed, assigned to nobody

[2021-05-03 00:59] BarbourSmith commented on #57
Great! Let's make it happen. Thanks for the pull request 👍

[2021-05-03 07:56] darigovresearch opened #63 "[BUG] Missing outline on the .mil file for the Gerbers"
See https://github.com/MaslowCNC/Electronics/pull/62#issuecomment-830635273 for more details

[2021-05-03 20:02] #57 closed, assigned to nobody

[2021-08-01 22:37] Jamtek commented on #63
I noticed two large rectangular shapes outside the board outline.
![kicad with outside shapes](https://user-images.githubusercontent.com/35613772/127786857-d53265ff-6fba-4f26-aa9a-7257003b0a63.png)

Removed the outside rectangles and regenerated the Gerber and drill files in KiCad. They now appear in the TraceSpace view portal as well as OSH Park.
![2021-08-01_18-31](https://user-images.githubuser

[2021-08-02 00:10] BarbourSmith commented on #63
I think those rectangles are the copper pours which create the ground plane and the power plane so they should be there.

[2021-08-04 01:52] Jamtek commented on #63
Ok, rookie mistake on my part. So maybe the actual issue was that the copper pours did not surround the entire board. Red Top pour is not surrounding the entire board outline. When I enlarged it to encompass the entire board and hit shortcut B to fill all zones, I was able to generate the Gerber files Edge_Cuts or board outline.
![Screenshot from 2021-08-03 21-49-25](https://user-images.githubuser

[2021-08-04 14:48] BarbourSmith commented on #63
I vaguely remember there being a reason for it not going all the way to the edge, but I can't remember what it would be. Is it OK to close this issue?